<div class="container-fluid p-0">
  <header class="bg-dark text-light text-center p-3">
    <h1>Gestor De Usuario</h1>
  </header>

  <section class="hero position-relative">
    <div class="hero-image">
      <img
        src="https://c4.wallpaperflare.com/wallpaper/484/301/137/estanteria-interior-libros-oficina-wallpaper-preview.jpg"
        class="img-fluid" alt="Hero Image">
      <div class="hero-overlay"></div>
    </div>
    <div class="hero-content text-center">
      <h2 class="text-white">Explora mis proyectos</h2>
      <a href="/usuarios" class="btn btn-primary btn-lg">Ir a Usuario</a>
    </div>
  </section>


  <footer class="bg-dark text-light text-center p-3">
    <p>Desarrollado por Juan Pacheco</p>
    <div>
      <a href="https://www.linkedin.com/in/juan-pacheco-9055a7335/" target="_blank" class="text-light mx-2">
        <i class="fab fa-linkedin fa-lg"></i>
      </a>

      <a href="https://github.com/TheOnexYT" target="_blank" class="text-light mx-2">
        <i class="fab fa-github fa-lg"></i>
      </a>
    </div>
  </footer>
</div>